extends layout

block headjs
  script(src='./public/javascripts/saved.js')

block content
  br
  .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
  
    .btn-group(role="group", aria-label="...")
      button.btn.btn-default(type="button")
        span.glyphicon.glyphicon-chevron-left
      button.btn.btn-default(type="button") #{wellName}  &nbsp;&nbsp;|&nbsp;&nbsp;  #{fWellUWI}
      button.btn.btn-default(type="button")
        span.glyphicon.glyphicon-chevron-right

    form.form-inline(id='queryForm' ,method='post', action='/query')
      .panel.panel-default
        .panel-body
          input.form-control(type='hidden', name='wellID', value=wellID)
          input.form-control(type='hidden', name='wellUWI', value=wellUWI)
          .container-fluid
            .row
              .form-group.col-sm-1
                label Field
              .form-group.col-sm-3
                input.form-control(type='text', name='fieldName', value=fieldName)
              .form-group.col-sm-1
                label State
              .form-group.col-sm-3
                select.form-control.stateProvince(name='stateProvince')
                  option(value='TX') Texas
                  option(value='CO') Colorado
                  option(value='WY') Wyoming
              .form-group.col-sm-1
                label Surface Lat
              .form-group.col-sm-3
                input.form-control(type='text', name='latitude', value=latitude) 
            .row
              .form-group.col-sm-1
                label Operator
              .form-group.col-sm-3
                input.form-control(type='text', name='operatorName', value= operatorName)
              .form-group.col-sm-1
                label County
              .form-group.col-sm-3
                input.form-control(type='text', name='county', value=county)
              .form-group.col-sm-1
                label Surface Long
              .form-group.col-sm-3
                input.form-control(type='text', name='longitude', value=longitude)         
            .row
              .form-group.col-sm-1
                label *Status
              .form-group.col-sm-3
                input.form-control(type='text', name='county', value=wellStatus)
              .form-group.col-sm-1
                label Country
              .form-group.col-sm-3
                input.form-control(type='text', name='country', value=country)
           
  
      ul.nav.nav-tabs
        li.active
          a(data-toggle='tab', href='#home') Header
        li
          a(data-toggle='tab', href='#menu1') Logs
        li
          a(data-toggle='tab', href='#menu2') Directional Survey
      .tab-content
        #home.tab-pane.fade.in.active
          br
          .panel.panel-default
            .panel-heading Borehole: #{boreholeUWI}
            .panel-body
              .row
                .form-group.col-sm-1
                  label Lease Name
                .form-group.col-sm-3
                  input.form-control(type='text', name='leaseName', value=leaseName)
                .form-group.col-sm-1
                  label Well Number
                .form-group.col-sm-3
                  input.form-control(type='text', name='wellNumber', value= wellNumber)
                .form-group.col-sm-1
                  label Borehole API
                .form-group.col-sm-3
                  input.form-control(type='text', name='boreholeUWI', value= boreholeUWI)
        #menu1.tab-pane.fade
          br

        #menu2.tab-pane.fade
          h3 Directional Survey
          p Some content in directional survey.  
            
            
      button.btn.btn-default(type='submit') Update          
          
